*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    background-color: #F0F0F0;
    box-sizing: border-box;
}
.menu-bar{ 
    background-color:#ffff;
    text-align: center;
    display: border-box;
}
.logo{
    width: 90px;
    float: left;
}
.menu-bar ul{
    display:inline-flex;
    list-style-type: none;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding:15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color:green;
}
.active:hover{
    background-color: #f0f0f0;
    border-radius: 2px;

}
menu-bar ul li:hover{
    background-color: #f0f0f0;
    border-radius: 2px;
}
.menu-bar .fa{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display:block;
    position:absolute;
    background-color: white;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display:block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    widows: 150px;
    padding: 10px;
    border-bottom: 1px dotted #f0f0f0;
    background: transparent;
    border-radius:0 ;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
} 
.menu-bar ul li:hover .sub-menu-1 ul li a{

    
}
.fa-angle-right{
    float: right;

}
.search-btn{
    
    color:green;
    float:left;
    
}
.sub-menu-1 ul li :hover
{
    background-color: #f0f0f0;
    border-radius: 3px;
     display: block;
}

footer{
    text-align:center;
    background-color: #1B1B1B;
    position:absolute;
    bottom:0;
    width: 100%;
}
.social-icon{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0; 

}
 .social-icon a{
    border-radius: 50%;
    border:1px solid #fff;
    flex-wrap: wrap;

    color:red; 
    display:inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 25px;
    margin:0 10px;
    height: 50px;
    width:50px;
    
}